* {
  padding: 0;
  margin: 0;
}
#game {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
}
#block {
  width: 50px;
  height: 500 px;
  background-attachment: black;
  position: relative;
  left: 400px;
}
